GLB_TOOLCHAIN_VERSION="1.0"
GLB_TOOLCHAIN_TYPE=crosstool-ng
GLB_CTNG_USE_GIT=true
GLB_CTNG_TAG=4fa0ba100b8924b27942ff253c5474c655427027

CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a8"
CT_ARCH_FPU="neon-vfpv3"
CT_ARCH_FLOAT_HW=y
CT_KERNEL_LINUX=y
CT_LINUX_V_4_14=y
CT_DEBUG_GDB=y

CT_CONFIG_VERSION="3"
CT_EXTRA_CFLAGS_FOR_BUILD="-I/usr/local/opt/gettext/include"
CT_EXTRA_LDFLAGS_FOR_BUILD="-L/usr/local/opt/gettext/lib -lintl"
CT_STATIC_TOOLCHAIN=y
CT_CC_LANG_CXX=y
CT_TARBALLS_BUILDROOT_LAYOUT=y
