GLB_TOOLCHAIN_VERSION="1.1"
GLB_TOOLCHAIN_TYPE=crosstool-ng
GLB_CTNG_USE_GIT=true
GLB_CTNG_TAG=5595edc370d8146ca3bbb3052dde48aceaff4970

CT_GCC_V_13=y

CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a53"
CT_ARCH_64=y
CT_ARCH_FLOAT_HW=y
CT_KERNEL_LINUX=y
CT_LINUX_V_6_1=y
CT_DEBUG_GDB=y

CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_PLUGINS=y

CT_CONFIG_VERSION="4"
CT_GDB_CROSS_STATIC=y
CT_CC_LANG_CXX=y
CT_TARBALLS_BUILDROOT_LAYOUT=y
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_BUILD_ID=y
CT_CC_LANG_FORTRAN=y
