BR2_GLOBAL_PATCH_DIR="${GRISP_COMMON_SYSTEM_DIR}/patches"
BR2_CCACHE=y
BR2_CCACHE_DIR="${GRISP_TOP_DIR}/_cache/buildroot-ccache"
BR2_INIT_NONE=y
BR2_ENABLE_LOCALE_WHITELIST="locale-archive"
BR2_GENERATE_LOCALE="en_US.UTF-8"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="${GRISP_COMMON_SYSTEM_DIR}/board/grisp-common/skeleton"
BR2_ROOTFS_OVERLAY="${GRISP_COMMON_SYSTEM_DIR}/board/grisp-common/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="${GRISP_COMMON_SYSTEM_DIR}/board/grisp-common/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="${GRISP_COMMON_SYSTEM_DIR}/board/grisp-common/post-image.sh"

BR2_REPRODUCIBLE=y

BR2_PACKAGE_BUSYBOX_CONFIG="${GRISP_COMMON_SYSTEM_DIR}/board/grisp-common/busybox.config"
BR2_PACKAGE_F2FS_TOOLS=y
BR2_PACKAGE_LIBP11=y
BR2_PACKAGE_LIBMNL=y
BR2_PACKAGE_NBTTY=y
BR2_PACKAGE_GRISP_CONFIG=y
